{{#partial "content"}}
<html>
  <body >
   <div class="main">
        <nav class="nav-bar">
          <ul>
              <li><a href="/"> Home </a></li>
                      <li><a href="/add/new"> Add Animal</a></li>
                      <li><a href="/form"> Post sighting</a></li>
                       <li><a href="/animals"> View animals</a></li>

          </ul>
        </nav>
      </div>
     <style>
      body{
     background-image: url(https://wallpapercave.com/wp/pLNajY7.jpg);
     background-repeat:no-repeat;
     background-size:cover;
     font-family: 'Lobster Two', cursive;

      }

      .main{
        margin: 50px;
        background-color:white;
        border: 2px solid #5D4D49;

      }

      .nav-bar{
        word-spacing: 40px;
        font-size: 20px;
       font-family: 'Lobster Two', cursive;
      }

      .nav-bar ul li a{
        text-decoration: none;
        color: black;
      }

      .nav-bar ul li{
        display: inline-block;
        -webkit-transition: border 1s, border-radius 1s, padding 1s, background-color 1s, color 1s;
      }

      .nav-bar ul li:hover{
        border-bottom: 2px solid gray;
        border-radius: 10%;
        padding: 10px;
        background-color:#737CA1;
        color: white;
      }

      </style>
        <div class=" container">



      <div class="row">
      <div class="col-md-6" >

      <div class="well" style="width:70%; opacity:0.8">


<h1 style="margin-bottom:4%">add sighting for an endangered animal</h1>
<form  action="/sighting/new" method="POST">
  {{#if endangeredAnimals}}
  <label>Select animal:</label>
  <select  name="endangeredAnimalSelected">
        {{#each endangeredAnimals }}

         <option value="{{id}}">
        {{ name}}</option>
        {{/each}}
        </select><br>
    {{else}}
     <p>No  endangered animals!</p>
    {{/if}}

    <label for="location">location</label><br>
    <input name="location" id="location"><br>
    <label for="ranger">ranger</label><br>
        <input name="ranger" id="ranger"><br>
        <button type="submit">add</button><br>
        <br>
        </form>
        </div>
        </div>

          <div class="col-md-6" >

              <div class="well" style="width:70%; opacity:0.8">


<form  action="/sighting/newNormal" method="POST">
<h1 style="margin-bottom:4%">add sighting for a normal animal</h1>
     {{#if normalAnimals}}
     <label>Select animal:</label>
      <select  name="normalAnimalSelected">
            {{#each normalAnimals }}
             <option value="{{id}}">{{ name}} </option>
            {{/each}}
            </select><br>
        {{else}}
         <p>No  normal animals!</p>
        {{/if}}


    <label for="location">location</label><br>
    <input name="location" id="location"><br>
    <label for="ranger">ranger</label><br>
        <input name="ranger" id="ranger"><br>
        <button type="submit">add</button><br>
        <br>
        </form>
        </div>
        </div>
        </div>
        </div>


  </body>

</html>



{{/partial}}

{{> layout.hbs}}